.Product{
    border: 1px solid black;
    background-color: wheat;
    border-radius: 14px;
    height: 200px;
    /* width: 100rem; */
    padding: 10px 10px 10px  10px ;
    margin-bottom: 20px ;

}